@model EditUserViewModel

@{
    ViewBag.Title = "Edit User";
}

<form method="post" class="mt-3">
    <input asp-for="Roles" hidden />
    <div class="form-group row">
        <label asp-for="user.UserName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="user.UserName" class="form-control" disabled>
        </div>
    </div>


    @* <div class="form-group row">
    <div class="col-sm-10">
    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="ListRoles" asp-area="identity" class="btn btn-primary">Cancel</a>
    </div>
    </div> *@

    <div class="card">
        <div class="card-header">
            <h3>Roles</h3>
        </div>
        <div class="card-body">
            @if (Model.Roles.Any())
            {
                <div class="row">
                    @foreach (var role in Model.Roles)
                    {
                        <div class="col-md-4">
                            <h5 class="card-title">@role</h5>
                        </div>
                    }
                </div>
            }
            else
            {
                <h5 class="card-title">None at the moment</h5>
            }
        </div>
        <div class="card-footer">
            <a asp-action="EditRolesInUser" asp-controller="Adminstration" asp-area="identity"
               asp-route-id="@Model.user.Id" class="btn btn-primary" style="width:auto">Add or remove roles</a>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <h3>Department&Projects</h3>
        </div>
        <div class="card-body">
            @{
                var Department = Model.user.UserDepartmentProject?.FirstOrDefault()?.Department?.DepartmentName;
                var Projectnames = Model.user.UserDepartmentProject
                .Select(udp => udp.Project?.ProjectName)
                .ToList();
                string finalprojects = "";
                foreach (var project in Projectnames)
                {
                    finalprojects += project;
                    finalprojects += ',';
                }
                finalprojects = (finalprojects.Length > 0) ? finalprojects.Substring(0, finalprojects.Length - 1) : finalprojects;
            }
            <h4>Department : @Department</h4>
            <h4>
                projects : @finalprojects
            </h4>
        </div>
        <div class="card-footer">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SelectedProjectIds">Projects</label>
                <select asp-for="SelectedProjectIds" asp-items="Model.Projects" class="form-control" multiple="multiple"></select>
                <span asp-validation-for="SelectedProjectIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedDepartmentId">Departments</label>
                <select asp-for="SelectedDepartmentId" asp-items="Model.Departments" class="form-control"></select>
                <span asp-validation-for="SelectedDepartmentId" class="text-danger"></span>
            </div>
            <button class="btn btn-primary" asp-action="updateudp" asp-controller="Adminstration" asp-area="identity"
                    asp-route-id="@Model.user.Id">
                update
            </button>
        </div>
    </div>


</form>