@model IEnumerable<ApplicationRole>

@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService authorizationService

@{
    ViewBag.Title = "All Roles";
}

<h1>All Roles</h1>

@if (Model.Any() && Model.Count() > 1)
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole"
       asp-controller="Adminstration" asp-area="identity">Add new role</a>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Role Name</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                @if (role.Name != "Admin")
                {
                    <tr>
                        <td>@role.Name</td>
                        <td>
                            <a class="btn btn-primary" asp-action="EditRole"
                               asp-controller="Adminstration" asp-area="identity" asp-route-id="@role.Id">
                                Edit
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="Adminstration" asp-area="identity" asp-action="CreateRole">
                Create Role
            </a>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/site.js"></script>
}