@inject SignInManager<ApplicationUser> signInManager;
@inject PermissionService ps;


<ul class="navbar-nav ml-auto">
    @if (signInManager.IsSignedIn(User))
    {
        @if (await ps.UserHasPermissionAsync(User, "Admin"))
        {
            <li class="nav-item">
                <a asp-action="Register" asp-controller="account" asp-area="identity" class="nav-link">Register</a>
            </li>
        }
        <li class="nav-item">
            <a asp-action="Logout" asp-controller="account" asp-area="identity" class="nav-link">Logout @User.Identity.Name</a>
        </li>
        @* <li class="nav-item" style="margin-top:7px;">
    <form method="post" asp-action="Logout" asp-controller="account" asp-area="identity">
    <button type="submit" class="nav-link btn btn-link py-0"
    style="width:auto">
    Logout @User.Identity.Name
    </button>
    </form>
    </li> *@
    }
    else
    {
        <li class="nav-item">
            <a asp-action="Login" asp-controller="account" asp-area="identity" class="nav-link">Login</a>
        </li>
    }

</ul>
